@import "tailwindcss";

/* Hide scrollbar but still allow scrolling */
* {
  overflow: auto; /* or scroll */

  /* For WebKit browsers (Chrome, Safari, Edge) */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge Legacy */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
